@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,700&display=swap');
* {
    font-family: 'Roboto';
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header, .footer, .content-one, .content-two, .content-four {
    padding-left: 200px;
    padding-right: 200px;
}

.header, .footer, .content-one {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: left;
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer {
    text-align: center;
    align-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    color: white;
    font-size: 16px;
}

.content-one {
    display: flex;
    justify-content: space-between;
    height: 250px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.content-two {
    display: flex;
    flex-direction: column;
    height: 250px;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
}

.content-three {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    height: 250px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 325px;
    padding-right: 325px;
    justify-content: center;
}

.content-four {
    display: flex;
    flex-direction: column;
    height: 250px;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
}

/* Header Section */

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    margin-right: auto;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb
}

/* Hero section (one) */

.info-signup {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    padding-right: 30px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.h1-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.h1-signup {
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 5px;
    height: 35px;
    width: 100px;
    border-width: 0px;
}

.h1-pic {
    flex: 1;
    border-radius: 5px;
}

/* Information section */
h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text {
    text-align: center;
    max-width: 125px;
    margin-top: 5px;
}

.card-pic {
    width: 125px;
    height: 125px;
    border-radius: 10px;
    border: 3px solid #3882f6;
}

/* Quote Section */

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 50;
    font-style: italic;
}

.quote-author {
    color: #1F2937;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

/* Call to Action Section */

.signup-box {
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 5px;
    padding: 60px 50px 60px 50px;
    background-color: #3882f6;
}

.signup-box button {
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    background-color: #3882f6;
    margin-left: auto;
    height: 35px;
    width: 100px;
}

.call-action, .call-info {
    color: white;
}

.call-action {
    font-size: 24px;
}

.call-info {
    font-size: 12px;
}