* {
    font-family: Roboto, monospace;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header, .footer, .content-one, .content-two, .content-three, .content-four {
    padding-left: 80px;
    padding-right: 80px;
}

.header, .footer, .content-one {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: left;
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer {
    text-align: center;
    align-content: center;
}

.content-one {
    display: flex;
    justify-content: space-between;
}

.content-two {
    display: flex;
    flex-direction: column;
}

.content-three {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
}

/* Header Section */

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    margin-right: auto;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb
}

